/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    animation: pulse 2s infinite alternate;
}

/* Title */
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

/* Upload and Download sections */
.upload-section,
.download-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.file-input,
.hash-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.upload-btn,
.download-btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover,
.download-btn:hover {
    background-color: #0056b3;
}

/* Divider */
.divider {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    margin: 20px 0;
}

/* Result container */
.result-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  #pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

/* Animations */
@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.02); }
}